* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Forte',sans-serif;
    background-color: #0f171e;
    color: white;
    background-image: url('hot-drink-coffee-cup-milk-chocolate-whipped-cream-dessert-generated-by-artificial-intelligence.jpg');
    background-blend-mode: overlay;
    background-position-y: 70px;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;  
}
.heading  {
    color: #f29c1fff;
}
.photos img {
    padding-right: 30px;
    width: 350px;
    border-radius: 15px;
}
.details {
    width: 95%;
}
.name {
    color: #f29c1fff;
}
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #ecf0f1ff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    position: relative;
}

.name {
    color: #e57e25ff;
}

.name:hover {
    color: #e64c3cff;
}
.identity {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    flex-basis: 400px;
    list-style: none;
}

.nav-link:link,
.nav-link:visited,
.nav-link:focus {
    text-decoration: none;
    color: #e64c3cff;
}

.nav-link:hover {
    border-bottom: solid 2px #e64c3cff;
}

.btn {
    border: solid #e64c3cff;
    padding: 4px 8px;
    border-radius: 12px;
}

.btn:hover {
    background-color: #e64c3cff;
    color: #ecf0f1ff;
    font-size: 20px;
}

.icon {
    width: 50px;
    height: auto;
}

.coffee-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.coffee-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border: 2px solid #f29c1fff;
}

.coffee-card img {
    width: 100%;
    border-radius: 10px;
}

.coffee-card .nameitem {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.coffee-card p {
    font-size: 16px;
    margin: 5px 0;
}

.nav-link:hover {
    border-bottom: solid 2px #e64c3cff;
}

.nameitem {
    color: #e57e25ff;
}

.nameitem:hover {
    color: #e64c3cff;
    border-bottom: solid 2px #e64c3cff;
}
.heading:hover{
    color: #e64c3cff;
    border-bottom: solid 1px #e64c3cff;
}