 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
    }

    .container {
      display: flex;
      height: 100vh;
      width: 100vw;
    }

    .leftpanel {
      width: 45%;
      background: linear-gradient(135deg, #4e73df, #6a89f7);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 60px;
      text-align: center;
    }

    .leftpanel img {
      width: 100px;
      height: auto;
      margin-bottom: 30px;
      background: white;
      border-radius: 20px;
      padding: 10px;
    }

    .leftpanel h1 {
      margin-bottom: 10px;
    }

    .leftpanel p {
      font-size: 1.1rem;
    }

    .rightpanel {
      width: 55%;
      display:flex ;
      justify-content: center;
      align-items: center;
      background: #f7f9ff;
    }

    .formbox {
      width: 600px;
      height: 600px;
      padding: 40px;
      background: white;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
      border-radius: 16px;
    }

    .formbox2 {
        margin-top: 100px;
     
    }

    .formbox h2 {
      font-size: 1.8rem;
      margin-bottom: 30px;
      color: #4e73df;
      text-align: center;
    }

    .inputgroup {
      position: relative;
      margin-bottom: 20px;
    }

    .inputgroup input {
      width: 100%;
      padding: 12px 40px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 1rem;
    }

    .inputgroup i {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: #4e73df;
      font-size: 1.2rem;
    }

    a {
      width: 100%;    
      text-decoration: none;
      padding: 12px;
      background: linear-gradient(to right, #4e73df, #6a89f7);
      border: none;
      border-radius: 10px;
      color: white;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;
      transition: 0.3s ease;
    }

    a:hover {
        background: linear-gradient(135deg, #6a89f7, #4e73df);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
        filter: brightness(1.05);
    }
    
    @media (max-width: 800px) {
      .container {
        flex-direction: column;
      }

      .leftpanel, .rightpanel {
        width: 100%;
        height: 50%;
      }

      .formbox {
        box-shadow: none;
        border-radius: 0;
      }
    }