    .amortization {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 20px;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .image-container img {
        max-width: 400px;
        width: 100%;
        border-radius: 8px;
    }

    .content {
        max-width: 500px;
    }

    .content h2 {
        font-size: 32px;
        margin-bottom: 10px;
        color: #e91820;
        font-weight: bold;
    }

    .content p {
        font-size: 14px;
        color: #555;
    }

    .content ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
    }

    .content li {
        margin: 10px 0;
        font-size: 14px;
        color: #333;
    }

    .email-form {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    .email-form input {
        padding: 10px;
        font-size: 14px;
        flex: 1;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .email-form button {
        padding: 10px 20px;
        background: #e91820;
        color: #fff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 14px;
    }

    .email-form button:hover {
        transition: 1s ease;
        scale: 1.1;
    }

    .section {
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 60px;
    }


    .feature-icon {
        font-size: 50px;
        color: #e91820;
        margin-bottom: 10px;
    }
