* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: white;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #e91820; 

}



.logo {
    font-size: 28px;
    font-weight: bold;
    color: #222;
}

.logo .dot {
    color: #e91820;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;
    font-size: 16px;
}

.nav-links li:hover>a {
    color: #e91820;
}

.dropdown-menu,
.submenu-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    display: none;
    min-width: 180px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    position: relative;
}

.submenu:hover .submenu-menu {
    display: block;
    left: 100%;
    top: 0;
}

.face {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/3709402/pexels-photo-3709402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.face::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.face-content {
    position: relative;
    z-index: 2;
    color: white;
    padding: 0 20px;
}

.face h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.face p {
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.logo img {
    width: 60px;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo span {
    margin-left: 3px;
}
